<a href="https://colab.research.google.com/github/Faris2007kh/GDG/blob/main/session_1_practice_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Fundamentals - Practice Tasks

Complete these exercises to practice what you've learned in Session 1.

---

## Section 1: Print Function & Escape Sequences

### Task 1.1: Basic Printing
Print your name and favorite programming language on the same line, separated by a dash.

**Expected output:** `John - Python`

In [1]:
# Write your code here
print("John - Python")

John - Python

### Task 1.2: Using sep parameter
Print the words "Python", "is", "awesome" with asterisks (*) between them instead of spaces.

**Expected output:** `Python*is*awesome`

In [2]:
# Write your code here
print("Python", "is", "awesome", sep="*")

Python*is*awesome

### Task 1.3: Using end parameter
Print "Hello" and "World" on the same line with a space between them using two separate print statements.

**Expected output:** `Hello World`

In [3]:
# Write your code here
print("Hello", end=" ")
print("World")

Hello World

### Task 1.4: Escape Sequences
Create a print statement that displays:
```
Name:	John
Quote:	"Learn Python
```

In [4]:
# Write your code here
print("Name:\tJohn\nQuote:\t\"Learn Python\"")

Name:	John
Quote:	"Learn Python"

---

## Section 2: Variables

### Task 2.1: Valid Variable Names
Create variables for:
- Your first name (use snake_case)
- Your age
- Your city

Then print them in a sentence: "My name is [name], I am [age] years old, and I live in [city]."

In [5]:
# Write your code here

first_name = "John"
age = 25
city = "New York"

print(f"My name is {first_name}, I am {age} years old, and I live in {city}.")

My name is John, I am 25 years old, and I live in New York.

### Task 2.2: Variable Swapping
Create two variables: `a = 10` and `b = 20`. Swap their values without using a third variable, then print both.

**Hint:** Use Python's multiple assignment feature

In [7]:
# Write your code here
a = 10
b = 20
a, b = b, a
print("b =", b)
print("a =", a)

b = 10
a = 20

---

## Section 3: Data Types

### Task 3.1: Type Checking
Create variables with these values and print their types:
- 42
- 3.14
- "Hello"
- True

In [15]:
my_integer = 42
my_float = 3.14
my_str = "Hello"
my_bool = True

print(type(my_integer))
print(type(my_float))
print(type(my_str))
print(type(my_bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Task 3.2: Type Conversion
Ask the user to input two numbers. Convert them to integers, add them together, and print the result.

**Example interaction:**
```
Enter first number: 15
Enter second number: 27
The sum is: 42
```

In [16]:
# Write your code here
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")

num1 = int(num1)
num2 = int(num2)

total = num1 + num2

print("The sum is:", total)

Enter first number: 15
Enter second number: 27

TypeError: 'int' object is not callable

---

## Section 4: Arithmetic Operators

### Task 4.1: Basic Calculator
Create two variables: `num1 = 17` and `num2 = 5`. Calculate and print:
- Addition
- Subtraction
- Multiplication
- Division (float result)
- Integer division (floor division)
- Modulus (remainder)
- Exponentiation (num1 to the power of num2)

In [17]:
# Write your code here
num1 = 17
num2 = 5

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division (float):", num1 / num2)
print("Integer division (floor):", num1 // num2)
print("Modulus (remainder):", num1 % num2)
print("Exponentiation:", num1 ** num2)

Addition: 22
Subtraction: 12
Multiplication: 85
Division (float): 3.4
Integer division (floor): 3
Modulus (remainder): 2
Exponentiation: 1419857

### Task 4.2: Circle Calculations
Ask the user for a circle's radius. Calculate and print:
- Circumference (2 Ã— Ï€ Ã— r)
- Area (Ï€ Ã— rÂ²)

Use 3.14159 for Ï€

In [21]:
# Write your code here
pi = 3.14159

radius = __builtins__.float(input("Enter the radius of the circle: "))

circumference = 2 * pi * radius
area = pi * radius ** 2

print("Circumference:", circumference)
print("Area:", area)

Enter the radius of the circle: 5
Circumference: 31.4159
Area: 78.53975

### Task 4.3: Temperature Converter
Ask the user for a temperature in Celsius. Convert it to Fahrenheit and print the result.

**Formula:** F = (C Ã— 9/5) + 32

In [22]:
# Write your code here
celsius = __builtins__.float(input("Enter the temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print("Temperature in Fahrenheit:", fahrenheit)

Enter the temperature in Celsius: 40
Temperature in Fahrenheit: 104.0

---

## Section 5: Comparison Operators

### Task 5.1: Comparison Practice
Given `x = 15` and `y = 20`, determine if the following statements are True or False without running the code, then verify:
- x > y
- x < y
- x == y
- x != y
- x >= 15
- y <= 19

In [23]:
# Write your code here
x = 15
y = 20

if x > y:
    print("x > y is True")
else:
    print("x > y is False")
if x < y:
    print("x < y is True")
else:
    print("x < y is False")

if x == y:
    print("x == y is True")
else:
    print("x == y is False")

if x != y:
    print("x != y is True")
else:
    print("x != y is False")

if x >= y:
    print("x >= y is True")
else:
    print("x >= y is False")

if x <= y:
    print("x <= y is True")
else:
    print("x <= y is False")

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

---

## Section 6: Logical Operators

### Task 6.1: Age Verification
Ask the user for their age. Check if they are between 18 and 65 (inclusive) using logical operators.
Print "Eligible" if true, "Not eligible" if false.

In [24]:
# Write your code here
age = __builtins__.int(input("Enter your age: "))

if 18 <= age <= 65:
    print("Eligible")
else:
    print("Not eligible")

Enter your age: 19
Eligible

### Task 6.2: Logical Expressions
Given these variables, evaluate the expressions:
```python
a = True
b = False
c = True
```

Calculate:
- a and b
- a or b
- not a
- (a and b) or c
- a and (b or c)

In [26]:
# Write your code here
a = True
b = False
c = True
a_and_b = a and b
a_or_b = a or b
not_a = not a
a_and_b_or_c = (a and b) or c
b_and_a_or_c = a and (b or c)

---

## Section 7: Lists

### Task 7.1: Create and Manipulate a List
Create a list of your 5 favorite fruits. Then:
1. Print the entire list
2. Print the first fruit
3. Print the last fruit
4. Add a new fruit to the end
5. Remove the second fruit
6. Print the final list

In [27]:
# Write your code here

# Create a list of 5 favorite fruits
fruits = ["Apple", "Banana", "Mango", "Orange", "Strawberry"]

print("All fruits:", fruits)

print("First fruit:", fruits[0])

print("Last fruit:", fruits[-1])

fruits.append("Pineapple")

fruits.pop(1)

print("Final list:", fruits)

All fruits: ['Apple', 'Banana', 'Mango', 'Orange', 'Strawberry']
First fruit: Apple
Last fruit: Strawberry
Final list: ['Apple', 'Mango', 'Orange', 'Strawberry', 'Pineapple']

### Task 7.2: List Operations
Create a list: `numbers = [10, 20, 30, 40, 50]`

Perform these operations:
1. Print the length of the list
2. Print the sum of all numbers
3. Print the maximum and minimum values
4. Reverse the list
5. Sort the list in ascending order

In [28]:
# Write your code here
numbers = [10, 20, 30, 40, 50]

print("Length of the list:", len(numbers))

print("Sum of numbers:", sum(numbers))

print("Maximum value:", max(numbers))
print("Minimum value:", min(numbers))

numbers.reverse()
print("Reversed list:", numbers)

numbers.sort()
print("Sorted list (ascending):", numbers)

Length of the list: 5
Sum of numbers: 150
Maximum value: 50
Minimum value: 10
Reversed list: [50, 40, 30, 20, 10]
Sorted list (ascending): [10, 20, 30, 40, 50]

### Task 7.3: List Slicing
Given: `letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']`

Extract and print:
1. First three letters
2. Last three letters
3. Middle four letters (c, d, e, f)
4. Every second letter
5. Reverse the entire list using slicing

In [29]:
# Write your code here
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

print("First three letters:", letters[:3])

print("Last three letters:", letters[-3:])

print("Middle four letters:", letters[2:6])

print("Every second letter:", letters[::2])

print("Reversed list:", letters[::-1])

First three letters: ['a', 'b', 'c']
Last three letters: ['f', 'g', 'h']
Middle four letters: ['c', 'd', 'e', 'f']
Every second letter: ['a', 'c', 'e', 'g']
Reversed list: ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

---

## Section 8: Tuples

### Task 8.1: Tuple Basics
Create a tuple containing the coordinates of a point: (10, 20, 30)

1. Print the tuple
2. Access and print each coordinate individually
3. Try to change the first value (this should give an error - comment out this line after trying)
4. Print the length of the tuple

In [30]:
# Write your code here

point = (10, 20, 30)

print(point)

print(point[0])
print(point[1])
print(point[2])

# point[0] = 5  # This will cause an error because tuples are immutable

print(len(point))

(10, 20, 30)
10
20
30
3

### Task 8.2: Tuple Unpacking
Create a tuple: `person = ("Alice", 25, "Engineer")`

Unpack it into three variables: name, age, and profession. Then print a sentence using these variables.

In [31]:
# Write your code here

person = ("Alice", 25, "Engineer")

name, age, profession = person

print(name, "is", age, "years old and works as an", profession)

Alice is 25 years old and works as an Engineer

---

## Section 9: Sets

### Task 9.1: Set Operations
Create two sets:
- `set_a = {1, 2, 3, 4, 5}`
- `set_b = {4, 5, 6, 7, 8}`

Calculate and print:
1. Union of both sets
2. Intersection of both sets
3. Difference (elements in set_a but not in set_b)
4. Symmetric difference (elements in either set but not both)

In [32]:
# Write your code here
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

union = set_a | set_b

intersection = set_a & set_b

difference = set_a - set_b

symmetric_diff = set_a ^ set_b

print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Union: {union}")
print(f"Intersection: {intersection}")
print(f"Difference (A - B): {difference}")
print(f"Symmetric Difference: {symmetric_diff}")

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (A - B): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

### Task 9.2: Removing Duplicates
Given a list with duplicates: `numbers = [1, 2, 2, 3, 4, 4, 4, 5, 6, 6]`

Use a set to remove duplicates and convert back to a sorted list.

In [33]:
# Write your code here
numbers = [1, 2, 2, 3, 4, 4, 4, 5, 6, 6]

sorted_unique_numbers = sorted(list(set(numbers)))

print(f"Original list: {numbers}")
print(f"Sorted unique list: {sorted_unique_numbers}")

Original list: [1, 2, 2, 3, 4, 4, 4, 5, 6, 6]
Sorted unique list: [1, 2, 3, 4, 5, 6]

---

## Section 10: Dictionaries

### Task 10.1: Student Information
Create a dictionary to store information about a student:
- Name
- Age
- Major
- GPA

Then:
1. Print the entire dictionary
2. Print only the student's name
3. Update the GPA to a new value
4. Add a new key "Year" with an appropriate value
5. Print all keys
6. Print all values

In [34]:
# Write your code here

student = {
    "Name": "Alex Rivera",
    "Age": 21,
    "Major": "Computer Science",
    "GPA": 3.6
}

print(f"Full Dictionary: {student}")

print(f"Student Name: {student['Name']}")

student["GPA"] = 3.8

student["Year"] = "Junior"

print(f"Keys: {list(student.keys())}")

print(f"Values: {list(student.values())}")

Full Dictionary: {'Name': 'Alex Rivera', 'Age': 21, 'Major': 'Computer Science', 'GPA': 3.6}
Student Name: Alex Rivera
Keys: ['Name', 'Age', 'Major', 'GPA', 'Year']
Values: ['Alex Rivera', 21, 'Computer Science', 3.8, 'Junior']

### Task 10.2: Phone Book
Create a dictionary that acts as a phone book with at least 4 contacts.

Then:
1. Add a new contact
2. Delete one contact using pop()
3. Use get() to safely search for a contact that might not exist
4. Print all names (keys) in the phone book

In [36]:
# Write your code here

phone_book = {
    "Ali": "01006600558",
    "Badr": "01136585778",
    "Ahmed": "01023536321",
    "Dina": "01200575364"
}

phone_book["Eman"] = "01004545852"

removed_number = phone_book.pop("Badr")
print(f"Removed Badr's number: {removed_number}")

search_name = "Faris"
contact_info = phone_book.get(search_name, "Contact not found")
print(f"Search result for {search_name}: {contact_info}")

print("Current Contacts:", list(phone_book.keys()))

Removed Badr's number: 01136585778
Search result for Faris: Contact not found
Current Contacts: ['Ali', 'Ahmed', 'Dina', 'Eman']

### Task 10.3: Nested Dictionary
Create a dictionary representing a company with three departments. Each department should have:
- A list of employee names
- A list of their ages

Example structure:
```python
company = {
    "IT": {"Names": [...], "Ages": [...]},
    "HR": {"Names": [...], "Ages": [...]},
    "Sales": {"Names": [...], "Ages": [...]}
}
```

Then access and print:
1. All employee names in IT
2. The first employee's age in HR
3. The entire Sales department

In [37]:
# Write your code here

company = {
    "IT": {
        "Names": ["Ali", "Badr", "Ahmed"],
        "Ages": [28, 34, 25]
    },
    "HR": {
        "Names": ["David", "Hana"],
        "Ages": [42, 31]
    },
    "Sales": {
        "Names": ["Feras", "Jana", "Hani"],
        "Ages": [29, 45, 38]
    }
}

print(f"IT Employees: {company['IT']['Names']}")

hr_first_age = company["HR"]["Ages"][0]
print(f"First HR Employee Age: {hr_first_age}")

print(f"Sales Department Data: {company['Sales']}")

IT Employees: ['Ali', 'Badr', 'Ahmed']
First HR Employee Age: 42
Sales Department Data: {'Names': ['Feras', 'Jana', 'Hani'], 'Ages': [29, 45, 38]}

---

## Challenge Tasks

### Challenge 1: Grade Calculator
Create a program that:
1. Asks the user for 5 test scores (use input and convert to integers)
2. Stores them in a list
3. Calculates and prints:
   - Average score
   - Highest score
   - Lowest score
   - Number of scores above 70

In [40]:
# Write your code here

scores = []

print("Please enter 5 test scores:")
for i in range(5):
    score = __builtins__.int(input(f"Enter score {i+1}: "))
    scores.append(score)

average = sum(scores) / len(scores)
highest = max(scores)
lowest = min(scores)

above_70 = [s for s in scores if s > 70]
count_above_70 = len(above_70)

print("\n--- Results ---")
print(f"All Scores: {scores}")
print(f"Average Score: {average}")
print(f"Highest Score: {highest}")
print(f"Lowest Score: {lowest}")
print(f"Number of scores above 70: {count_above_70}")

Please enter 5 test scores:
Enter score 1: 87
Enter score 2: 76
Enter score 3: 56
Enter score 4: 90
Enter score 5: 100

--- Results ---
All Scores: [87, 76, 56, 90, 100]
Average Score: 81.8
Highest Score: 100
Lowest Score: 56
Number of scores above 70: 4

### Challenge 2: Shopping Cart
Create a shopping cart system using a dictionary where:
- Keys are item names
- Values are dictionaries containing "price" and "quantity"

Example:
```python
cart = {
    "Apple": {"price": 2.5, "quantity": 3},
    "Bread": {"price": 3.0, "quantity": 1}
}
```

Calculate and print:
1. Total cost for each item (price Ã— quantity)
2. Total cost of the entire cart
3. Number of items in the cart

In [41]:
# Write your code here

cart = {
    "Apple": {"price": 2.5, "quantity": 3},
    "Bread": {"price": 3.0, "quantity": 1},
    "Milk": {"price": 4.2, "quantity": 2},
    "Eggs": {"price": 0.5, "quantity": 12}
}

grand_total = 0
total_items_count = 0

print(f"{'Item':<10} | {'Qty':<5} | {'Price':<8} | {'Item Total'}")
print("-" * 45)

for item, details in cart.items():
    price = details["price"]
    quantity = details["quantity"]

    item_total = price * quantity

    grand_total += item_total
    total_items_count += quantity

    print(f"{item:<10} | {quantity:<5} | ${price:<7.2f} | ${item_total:>8.2f}")

print("-" * 45)

print(f"Total Unique Products: {len(cart)}")
print(f"Total Items in Cart:   {total_items_count}")
print(f"GRAND TOTAL:           ${grand_total:,.2f}")

Item       | Qty   | Price    | Item Total
---------------------------------------------
Apple      | 3     | $2.50    | $    7.50
Bread      | 1     | $3.00    | $    3.00
Milk       | 2     | $4.20    | $    8.40
Eggs       | 12    | $0.50    | $    6.00
---------------------------------------------
Total Unique Products: 4
Total Items in Cart:   18
GRAND TOTAL:           $24.90

### Challenge 3: Word Counter
Ask the user to enter a sentence. Then:
1. Split the sentence into words (use `.split()`)
2. Count how many words there are
3. Find the longest word
4. Create a dictionary showing how many times each word appears

**Hint:** Convert everything to lowercase for accurate counting

In [42]:
# Write your code here

text = input("Enter a sentence: ")

words = text.lower().split()

word_count = len(words)

longest_word = max(words, key=len)

word_freq = {}
for word in words:

    word_freq[word] = word_freq.get(word, 0) + 1

print("\n--- Analysis Results ---")
print(f"Total words: {word_count}")
print(f"Longest word: '{longest_word}'")
print(f"Word Frequencies: {word_freq}")

Enter a sentence: hi i am Faris and i am 18 yaers old

--- Analysis Results ---
Total words: 10
Longest word: 'faris'
Word Frequencies: {'hi': 1, 'i': 2, 'am': 2, 'faris': 1, 'and': 1, '18': 1, 'yaers': 1, 'old': 1}

---

## ðŸŽ‰ Congratulations!

You've completed the practice tasks for Python Programming Fundamentals!

**Topics Covered:**
- Print function and escape sequences
- Variables and naming conventions
- Data types (int, float, str, bool)
- Arithmetic, comparison, and logical operators
- Lists, tuples, sets, and dictionaries

**Next Steps:**
- Review any tasks you found challenging
- Try creating your own variations of these exercises
- Move on to control flow and loops!